@model IEnumerable<Demo.Contracts.Dtos.UomDto>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Uoms</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Uoms" asp-action="Create" class="btn btn-primary">
                Create New Uom
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
        <td>
            Name
        </td>
    </tr>
    </thead>
    <tbody>
    @foreach (var uom in Model)
    {
        <tr>
            <td>@uom.Code</td>
            <td>Edit</td>
        </tr>
    }
    </tbody>
</table>