<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Home</h2>
        </div>
    </div>

    <br /><br />

    <p>Welcome in Web Admin page for Demo project.</p>
</div>