@model Demo.Contracts.Dtos.UomDto

<form method="post">
    @*<input type="hidden" asp-for="Id" />*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Uom</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Code"></label>:
            <input asp-for="Code" class="form-control" disabled />
        </div>
        <button type="submit" class="btn btn-danger" style="width: 150px">Delete</button>
        <a asp-controller="Uoms" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>
    </div>
</form>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }